.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner::before, .hamburger:hover .hamburger-inner::after {
  background-color: hsl(191deg, 99%, 46%);
  transition: 200ms;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

header {
  background-color: hsl(244deg, 67%, 10%);
  height: 100vh;
  min-height: 400px;
  display: grid;
  grid-template-rows: 15% 85%;
  position: relative;
  /* js class to open sidebar */
}
header .area {
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: absolute;
  z-index: 1;
}
header .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
header .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
header .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
header .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
header .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
header .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
header .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
header .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
header .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
header .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
header .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
header .large-screen-nav, header .link-list {
  display: flex;
}
header .large-screen-nav {
  justify-content: space-between;
  align-items: center;
  width: 90%;
  justify-self: center;
  position: relative;
  z-index: 2;
}
header .large-screen-nav .company-logo p {
  color: hsl(191deg, 99%, 46%);
}
header .large-screen-nav .link-list .list-element {
  margin-left: 20px;
}
header .large-screen-nav .link-list .list-element .main-anchors {
  color: white;
  transition: 200ms;
}
header .large-screen-nav .link-list .list-element .main-anchors:hover {
  color: hsl(191deg, 99%, 46%);
  transition: 200ms;
}
header .large-screen-nav .link-list .list-element .contact-anchor {
  color: white;
  background-color: hsl(191deg, 99%, 46%);
  padding: 15px;
  border-radius: 25px;
  transition: 500ms;
}
header .large-screen-nav .link-list .list-element .contact-anchor:hover {
  box-shadow: 5px 5px 15px #686868, -5px -5px 15px #686868;
  letter-spacing: 2px;
  transition: 500ms;
}
header .large-screen-nav .hamburger {
  display: none;
}
header .hero-section-main-container {
  display: grid;
  align-content: center;
  width: 90%;
  justify-self: center;
  color: white;
  text-align: center;
}
header .hero-section-main-container .sub-header {
  color: hsl(191deg, 99%, 46%);
  font-size: 1.3rem;
  letter-spacing: 5px;
}
header .hero-section-main-container .main-content {
  white-space: pre-line;
  font-size: 2.5rem;
}
header .hero-section-main-container .subtitle {
  margin-top: 50px;
  color: rgb(170, 170, 170);
}
header .open-sidebar {
  transform: translateX(0) !important;
  transition: 500ms;
}
header .mobile-nav-sidebar {
  position: absolute;
  z-index: 2;
  background-color: rgb(236, 236, 236);
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgb(159, 175, 211);
  width: 300px;
  transform: translateX(-350px);
  transition: 500ms;
}
header .mobile-nav-sidebar .close-sidebar-btn {
  position: absolute;
  top: 2.5%;
  left: 5%;
}
header .mobile-nav-sidebar .close-sidebar-btn button span {
  font-size: 2.2rem;
  color: hsl(191deg, 99%, 46%);
}
header .mobile-nav-sidebar .mobile-nav .link-list {
  display: grid;
  align-content: center;
  gap: 40px;
}
header .mobile-nav-sidebar .mobile-nav .link-list .list-element .main-anchors {
  color: black;
  transition: 200ms;
}
header .mobile-nav-sidebar .mobile-nav .link-list .list-element .main-anchors:hover {
  color: hsl(191deg, 99%, 46%);
  transition: 200ms;
}
header .mobile-nav-sidebar .mobile-nav .link-list .list-element .contact-anchor {
  color: white;
  background-color: hsl(191deg, 99%, 46%);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px #a0a0a0, -5px -5px 15px #a0a0a0;
  transition: 500ms;
}
header .mobile-nav-sidebar .mobile-nav .link-list .list-element .contact-anchor:hover {
  box-shadow: 5px 5px 15px #686868, -5px -5px 15px #686868;
  letter-spacing: 2px;
  transition: 500ms;
}

main .service-section {
  background-color: hsl(240deg, 64%, 4%);
  height: fit-content;
  display: grid;
  height: 1000px;
  grid-template-rows: 25% 75%;
  place-items: center;
  color: white;
}
main .service-section .header {
  display: grid;
  gap: 30px;
  text-align: center;
}
main .service-section .header p:nth-child(1) {
  color: hsl(191deg, 99%, 46%);
  letter-spacing: 5px;
  font-size: 1.2rem;
}
main .service-section .header p:nth-child(2) {
  font-size: 2rem;
}
main .service-section .service-content-wrapper {
  width: 90%;
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
main .service-section .service-buttons-container {
  align-self: center;
}
main .service-section .service-buttons-container ul {
  display: grid;
  gap: 20px;
}
main .service-section .service-buttons-container ul li {
  display: grid;
  gap: 10px;
  /* js class to open accordion */
}
main .service-section .service-buttons-container ul li .button {
  display: flex;
  color: hsl(251deg, 16%, 20%);
  align-items: center;
  cursor: pointer;
}
main .service-section .service-buttons-container ul li .button p {
  font-size: 2rem;
  margin-left: 20px;
  position: relative;
}
main .service-section .service-buttons-container ul li .button p::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: hsl(191deg, 99%, 46%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
main .service-section .service-buttons-container ul li .button p:hover::after {
  width: 100%;
  left: 0;
}
main .service-section .service-buttons-container ul li .button span {
  font-size: 0.6rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
main .service-section .service-buttons-container ul li .expand-content {
  width: min(600px, 90%);
  justify-self: left;
  border-radius: 2px;
  background-color: white;
  visibility: hidden;
  padding: 0;
  height: 0;
  transition: 300ms;
}
main .service-section .service-buttons-container ul li .expand-content p {
  font-size: 1rem;
  margin: 0;
  color: black;
}
main .service-section .service-buttons-container ul li .open-accordion {
  padding: 20px;
  height: auto;
  visibility: visible;
  transition: 300ms;
}
main .details-section {
  background-color: white;
  height: 400px;
  display: grid;
  grid-template-rows: 40% 60%;
  place-items: center;
}
main .details-section .header p {
  white-space: pre-line;
  text-align: center;
  font-size: 1.5rem;
  color: #1d1d1d;
}
main .details-section .detail-list {
  display: flex;
  text-align: center;
  width: 90%;
  justify-content: center;
}
main .details-section .detail-list li:nth-child(1) {
  margin-left: 0;
}
main .details-section .detail-list li {
  display: grid;
  gap: 10px;
  margin-left: 50px;
}
main .details-section .detail-list li p:nth-child(1) {
  color: hsl(191deg, 99%, 46%);
  font-size: 1.2rem;
  font-weight: bold;
}
main .details-section .detail-list li p:nth-child(2) {
  color: rgb(112, 112, 112);
  font-size: 0.9rem;
}
main .hire-us-section {
  background-image: url("../images/hire-us-section-bg.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
}
main .hire-us-section .hire-us-text {
  height: 100%;
  width: 90%;
  justify-self: center;
  white-space: pre-line;
  color: white;
  display: grid;
  align-content: center;
  gap: 30px;
  place-items: center;
  text-align: center;
}
main .hire-us-section .hire-us-text p:nth-child(1) {
  color: hsl(191deg, 99%, 46%);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
main .hire-us-section .hire-us-text p:nth-child(2) {
  font-size: 2rem;
}
main .hire-us-section .hire-us-text p:nth-child(3) {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(173, 173, 173);
}
main .hire-us-section .hire-us-text button {
  color: white;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}
main .hire-us-section .hire-us-text button span {
  margin-left: 30px;
}
main .hire-us-section .hire-us-text button::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(191deg, 99%, 46%);
  top: 11px;
  left: -11px;
  transition: 500ms;
}
main .hire-us-section .hire-us-text button:hover::after {
  width: 89%;
  border-radius: 5px;
  transition: 500ms;
}
main .hire-us-section::after {
  z-index: -1;
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
}
main .clients-section {
  background-color: white;
  height: 900px;
  min-height: fit-content;
  display: grid;
  grid-template-rows: 25% 75%;
  place-items: center;
}
main .clients-section .header {
  display: grid;
  gap: 30px;
  text-align: center;
}
main .clients-section .header p:nth-child(1) {
  color: hsl(191deg, 99%, 46%);
  letter-spacing: 5px;
  font-size: 1.2rem;
}
main .clients-section .header p:nth-child(2) {
  font-size: 2rem;
}
main .clients-section .content-wrapper {
  width: 90%;
  height: 100%;
  justify-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  align-items: center;
  justify-items: center;
}
main .clients-section .content-wrapper .article-container {
  display: grid;
  align-items: center;
  position: relative;
  align-content: center;
  width: 100%;
  height: 100%;
}
main .clients-section .content-wrapper .article-container .client-thoughts {
  position: absolute;
  overflow: hidden;
  transition: 500ms; /* for js slide effect */
}
main .clients-section .content-wrapper .article-container .client-thoughts .person-info-container .name {
  font-size: 1.4rem;
}
main .clients-section .content-wrapper .article-container .client-thoughts .person-info-container .location {
  font-size: 0.7rem;
  color: #999999;
  font-weight: bold;
}
main .clients-section .content-wrapper .article-container .client-thoughts .person-info-container .location span {
  font-size: 1.1rem;
  font-weight: normal;
  color: black;
}
main .clients-section .content-wrapper .article-container .client-thoughts .main-content {
  font-size: 0.9rem;
  white-space: pre-line;
  color: #8d8d8d;
  margin-bottom: 50px;
}
main .clients-section .content-wrapper .slide-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  display: grid;
  gap: 10px;
  font-size: 1.5rem;
  color: hsl(191deg, 99%, 46%);
  text-shadow: 1px 1px 1px rgb(61, 61, 61);
}
main .clients-section .content-wrapper .slide-navigation i {
  cursor: pointer;
}
main .clients-section .content-wrapper .slide-navigation i:hover {
  transition: 400ms;
  color: black;
}
main .clients-section .content-wrapper .image-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  align-content: center;
  gap: 50px;
}
main .clients-section .content-wrapper .image-container img {
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  transition: 500ms;
}
main .clients-section .content-wrapper .image-container img:hover {
  transition: 500ms;
  opacity: 1 !important;
}
main .clients-section .content-wrapper .image-container .image-wrapper1 {
  display: flex;
  justify-content: center;
}
main .clients-section .content-wrapper .image-container .image-wrapper1 img:nth-child(1) {
  width: 60px;
  height: 60px;
}
main .clients-section .content-wrapper .image-container .image-wrapper1 img:nth-child(2) {
  margin-left: 60px;
}
main .clients-section .content-wrapper .image-container .image-wrapper2 {
  display: flex;
  justify-content: center;
}
main .clients-section .content-wrapper .image-container .image-wrapper2 img:nth-child(1) {
  width: 60px;
  height: 60px;
  align-self: center;
}
main .clients-section .content-wrapper .image-container .image-wrapper2 img:nth-child(2) {
  align-self: flex-end;
  margin-left: 60px;
  margin-right: 60px;
}
main .clients-section .content-wrapper .image-container .image-wrapper2 img:nth-child(3) {
  width: 150px;
  height: 150px;
  align-self: center;
}
main .clients-section .content-wrapper .image-container .image-wrapper3 {
  display: flex;
  justify-content: center;
}

footer {
  background-color: hsl(240deg, 64%, 4%);
  height: 500px;
  min-height: fit-content;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
}
footer .header, footer .contact-info-list {
  width: 90%;
  justify-self: center;
}
footer .header {
  text-align: center;
}
footer .header p:nth-child(1) {
  font-size: 2rem;
}
footer .header p:nth-child(2) {
  white-space: pre-line;
  font-size: 0.9rem;
  color: #cccccc;
}
footer .contact-info-list {
  display: grid;
  justify-content: center;
}
footer .impressum-button {
  border-top: 1px solid rgb(75, 75, 75);
  height: 99%; /* if 100% I have a white line on the bottom this removes it */
  width: 100%;
  display: grid;
  place-items: center;
}
footer .impressum-button button {
  color: white;
  transition: 300ms;
}
footer .impressum-button button:hover {
  color: hsl(191deg, 99%, 46%);
  transition: 300ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}

body, html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  cursor: none;
}

button {
  border: unset;
  background-color: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.cursor {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  z-index: 4;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.cursor::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(191deg, 99%, 46%);
}

@media (max-width: 1024px) {
  main .clients-section .content-wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  main .clients-section .content-wrapper .article-container .client-thoughts .main-content {
    white-space: normal;
  }
  main .clients-section .content-wrapper .image-container img {
    width: 80px !important;
    height: 80px !important;
  }
  main .clients-section .content-wrapper .slide-navigation {
    top: -70px;
    left: 20%;
    transform: translateX(-20%);
    display: flex;
    flex-flow: row-reverse;
  }
  main .clients-section .content-wrapper .slide-navigation i {
    transform: rotate(90deg);
  }
}
@media (max-width: 900px) {
  header .large-screen-nav .link-list {
    display: none;
  }
  header .large-screen-nav .hamburger {
    display: inline-block;
  }
  header .mobile-nav-sidebar .close-sidebar-btn {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
    /* js class to open sidebar */
  }
  header .hero-section-main-container .sub-header {
    font-size: 0.9rem;
  }
  header .hero-section-main-container .main-content {
    font-size: 1.6rem;
  }
  header .hero-section-main-container .subtitle {
    font-size: 0.8rem;
  }
  header .open-sidebar {
    transform: translateX(0) !important;
    transition: 500ms;
  }
  header .mobile-nav-sidebar {
    width: 100%;
    justify-content: center;
    transform: translateX(-110%);
  }
  header .mobile-nav-sidebar .close-sidebar-btn {
    display: grid;
  }
  main .service-section .service-buttons-container ul li .button p {
    font-size: 1.5rem;
  }
  main .service-section .service-buttons-container ul li .button p::after {
    display: none;
  }
  main .service-section .service-buttons-container ul li .expand-content p {
    font-size: 0.9rem;
  }
  main .hire-us-section {
    height: 500px;
  }
  main .hire-us-section .hire-us-text p:nth-child(2) {
    font-size: 1.3rem;
  }
  main .hire-us-section .hire-us-text p:nth-child(3) {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  main .details-section {
    height: 500px;
    grid-template-rows: 20% 80%;
  }
  main .details-section .detail-list {
    display: grid;
    gap: 50px;
  }
  main .details-section .detail-list li {
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  header .hero-section-main-container .sub-header {
    font-size: 0.8rem;
  }
  header .hero-section-main-container .main-content {
    font-size: 1.3rem;
  }
  header .hero-section-main-container .subtitle {
    font-size: 0.7rem;
  }
  main .service-section .service-buttons-container ul li button p {
    font-size: 1.2rem;
  }
  main .service-section .service-buttons-container ul li .expand-content p {
    font-size: 0.8rem;
  }
  main .clients-section .content-wrapper .image-container img {
    width: 50px !important;
    height: 50px !important;
  }
  main .clients-section .content-wrapper .slide-navigation {
    top: -70px;
  }
}

/*# sourceMappingURL=main.css.map */
